# Run these commands to use as global .gitignore
#   git config --global core.excludesfile ~/.gitignore_global
#   ln -s ~/.files/.gitignore ~/.gitignore_global

# swap files
*.swp
*.swo

# Mac
.DS_Store
